#program specific files
instructionsOriginal.txt
instructions2.txt
instructions3.txt
instructions4.txt
correct_simulation.txt
simulation.txt
.gitignore~
project_spec/
README.md~
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.classpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
